<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row g-4">
      <!-- Company Info -->
      <div class="col-lg-4 col-md-6">
        <h5 class="mb-3">About Us</h5>
        <p class="mb-4"> Welcome to our online store! We are a passionate team dedicated to providing high-quality
          products and exceptional customer service. We believe in offering a diverse range of products to meet the
          needs of our customers. Thank you
          for choosing us!
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-3">
            <a href="#" class="text-light"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item me-3">
            <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item me-3">
            <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Products</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">About Us</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Contact</a></li>
          <li><a href="#" class="text-light text-decoration-none">FAQ</a></li>
        </ul>
      </div>

      <!-- Customer Service -->
      <div class="col-lg-3 col-md-6">
        <h5 class="mb-3">Customer Service</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">My Account</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Order Tracking</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Wishlist</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Returns & Exchanges</a></li>
          <li><a href="#" class="text-light text-decoration-none">Shipping Information</a></li>
        </ul>
      </div>

      <!-- Newsletter -->
      <div class="col-lg-3 col-md-6">
        <h5 class="mb-3">Newsletter</h5>
        <p class="mb-3">Subscribe to our newsletter for updates and special offers!</p>
        <form>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Your email" aria-label="Your email"
              aria-describedby="subscribe-btn">
            <button class="btn btn-primary" type="button" id="subscribe-btn">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <hr class="my-4 bg-light">

    <!-- Copyright -->
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">&copy; 2024 Vinland. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="text-light text-decoration-none">Terms of Use</a></li>
          <li class="list-inline-item mx-2">|</li>
          <li class="list-inline-item"><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>